---
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>Enviar mensaje a Discord</title>
</head>
<body>
	<section class="container xl:w-5xl lg:w-4xl md:w-5xl xs:w-full mx-auto">
		<slot />
		<footer class="py-4">
			<p class="text-center">Miguel92 &copy; 2025</p>
		</footer>
	</section>
</body>
</html>